/* Footer */

.footer {
    margin-top: 100px;

    border-top: 2px solid #d0d7de;
    border-bottom: 2px solid #d0d7de;
    text-align: center;
}

.footer-content {
    width: 50%;
    margin: 0 auto;
    padding: 0 30px;
}

.footer-content p {
    padding: 20px 0;
    color: #8c959f;
}
.footer-content p + p {
    padding-bottom: 20px;
    padding-top: 0;
    color: #000;
}

@media (max-width: 768px) {
    .footer-content {
        width: 90%;
    }
}
